<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8823493165-j5rvg757i3g2qv9cu5mgpeaqu4eaop8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8823493165-j5rvg757i3g2qv9cu5mgpeaqu4eaop8h</string>
	<key>API_KEY</key>
	<string>AIzaSyCC9yUC8mrh8fNaluBbs7sym_shIzMO_zg</string>
	<key>GCM_SENDER_ID</key>
	<string>8823493165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>auth</string>
	<key>PROJECT_ID</key>
	<string>onion-and-garlic</string>
	<key>STORAGE_BUCKET</key>
	<string>onion-and-garlic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:8823493165:ios:d59cef3d0a804f4f49dea4</string>
</dict>
</plist>
